.desktop {
    display: inline-block;
    width: 1000px;
    height: 1700px;
}

.h1 {
    text-align: left;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Inika', serif;
    padding-left: 80px;
    padding-top: 72px;
    padding-bottom: 58px;
}

.line {
    border-bottom: 5px solid #3E45E8;
    width: 402px;
}

.header {
    max-height: 110px;
    text-align: center;
    color: #3E45E8;
    font-size: 48px;
    font-weight: 400;
    font-family: 'M PLUS 1', sans-serif, 'Marcellus', serif;
    padding: 25px 0;
}

.header-span {
    color: #E8C23E;

}

.background {
    height: 803px;
    background-image: url("../img/image\ 1.png");
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    padding-top: 206px;
    padding-left: 80px;
}


.content {
    box-sizing: border-box;
    padding-left: 118px;
    color: white;
    width: 70%;
    font-size: 48px;
    font-weight: 700;
    font-family: 'Inika', serif;
    background-repeat: no-repeat;
    background-image: url("../img/flag.png");
}

.all_card {
    padding: 0px 80px;
    box-sizing: border-box;
    text-align: center;

}

.card {    
    width: 30%;
    height: 481px;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    border-radius: 30px;
    box-shadow: 0px 4px 57px rgb(0, 0, 0, 25%);
}

.card_image {
    width: 100%;
}

.card_margin {
    margin: 0 4%;
}

.card_title {
    font-size: 24px;
    font-weight: 700;
    color: #1E8DF2;
    text-align: left;
    font-family: 'Inika', serif;
    padding: 10px;
    box-sizing: border-box;
}

.card_subtitle {
    font-size: 20px;
    font-weight: 400;
    color: #E8C23E;
    text-align: left;
    font-family: 'Inika', serif;
    max-width: 337.41px;
    padding: 10px;
    box-sizing: border-box;
}

.center {
    text-align: center;
}

.center_two {
    margin: 10px auto;
}

.Ukraine {
    text-align: center;
}

.link {
    margin: 0 auto;
    color: white;
    font-size: 64px;
    font-weight: 700;
    font-family: 'Inika', serif;
    border-width: 1px;
    border-style: solid;
    border-color: #2A61F0;
    box-sizing: border-box;
    display: block;
    width: 591px;
    height: 121px;
    padding: 10px;
    margin-top: 41px;
    background-color: #2A61F0;
    text-align: center;    
}

.lower_part {
    background-color: #2F4A4B;
    margin-top: 21px;
}

.text {
    text-align: center;
    color: #3E45E8;
    font-size: 48px;
    font-weight: 400;
    font-family: 'M PLUS 1', sans-serif, 'Marcellus', serif;
}

.text_color {
    color: #DFE31E;
}

.info {
    color: #A89D9D;
    text-align: center;
    font-size: 48px;
    font-weight: 400;
    font-family: 'Marcellus SC', serif;
}

.social_networks{
    text-align: center;
}